.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ulOfHashTag{
  margin-top: 3.5em !important;
  border-top: 1px solid #0000000d;
  border-bottom: 1px solid #0000000d;
}
.mainContainer{
  display: flex;
  width : 100vw;
  position: absolute;
  top: 98px;
  bottom: 0;
}
.newsSection{
  width: 75vw;
  height: 100%;
  
  background-color: #0000000d;
}
/* hiding scroll bar */
.latestStickNews{
  width: 25vw;
  height: 100%;
  border-left: 1px solid #0000000d;
}
.aboutResults{
  margin-left: 6.5em;
}
#card-newsitem{
  width: 80%;
  margin: auto;
}
.infinite-scroll-component{
  overflow: hidden !important;
}
.sideCardTitle{
  font-size: 0.999rem;
}
.sideCardTitle:hover{
  text-decoration: underline;
}
/* this is done because of infinte scroll hook I set scrollableTarget="containerOverflow" in container which is in News.js component so decided to make container scrolable not newsSetion which is in App.js component */
#containerOverflow{
  overflow: auto;
  height: 100%;
}
#containerOverflow::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}





/* media querry */
@media screen and (max-width: 1000px) {
  .mainContainer{
    flex-direction: column;
  }
  .newsSection{
    width: 100vw;
  }
  .latestStickNews{
    display: none;
  }
  .hashTag{
    width: 100vw;
    height: 42px;
    /* overflow: auto; */
    
    font-size: 12px;
    position: absolute;
    top: 14px;
  }
  #ulOfHashTag::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  .nav-item{
    padding: 0px;
  }
  #ulOfHashTag{
    padding-left: 30px;
    overflow: auto !important;
    flex-wrap: nowrap;

  }
  .mainContainer{
    top: 92px;
  }
  #card-newsitem{
    width: 100%;
  }
  .aboutResults{
    margin-left: 0em;
  }
}
  
@media screen and (max-width: 375px) {
  .listOfHasTag:first-of-type{
    margin-left: 18em;
  }
}